<div class="product-item">

    <div class="product-image">
        <a href="/teacher/view-course?id={{this._id}}">
        <img src="{{this.avatar}}"
             alt="Product Image">
        </a>
    </div>
    <div class="product-title">
        <a href="/teacher/view-course?id={{this._id}}" style="text-align:
        left
        !important;">
        <p class="text-white m-0"
           style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{this.name}} </p>
        <p>{{#if completed}}
            <span
                    style="border: solid 2px !important; font-size: 12px; font-family: 'Open Sans', sans-serif"
                    class="rounded border-success text-success p-1">
                                                Completed
                                            </span>
        {{else}}
            <span
                    style="border: solid 2px !important; font-size: 12px; font-family: 'Open Sans', sans-serif"
                    class="rounded border-warning text-warning p-1">
                                                Updating
                                            </span>
        {{/if}}</p>
        <p class="text-white m-0">{{this.category.name}}</p>
        <p class="text-white m-0">{{this.owner.name}}</p>
        </a>

        <div style="text-align: left">
            <span class="font-weight-bold text-white">{{this.score}}</span>
            <div class="ratting d-inline">
                {{#each this.starArr}}
                    <i class="fa {{this}}"
                       style="font-family: FontAwesome"></i>
                {{/each}}
            </div>
            <span class="text-white">({{this.number_of_reviewer}})</span> {{#if isBestseller}} <span
                style="border: solid 2px !important; font-size: 12px; font-family: 'Open Sans', sans-serif"
                class="rounded border-warning text-warning p-1 mx-1">
                                                Bestseller
                                            </span>{{/if}}
            {{#if isNewest}} <span
                    style="border: solid 2px !important; font-size: 12px; font-family: 'Open Sans', sans-serif"
                    class="rounded border-success text-success p-1 mx-1">
                                                New
                                            </span>
            {{/if}}
        </div>
    </div>
    <div class="product-price">
        <h3><span>$</span>{{this.price}}</h3>
    </div>
</div>