<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>E Store - eCommerce HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
          rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/lib/slick/slick.css" rel="stylesheet">
    <link href="/lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
{{>Header}}

{{!-- <!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Courses Management</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End --> --}}

<!-- Modal Start -->
<div class="modal fade" id="rmCourseModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="rmCourseForm" method="POST" action="">
                    <div class="modal-header">
                        <h5 class="modal-title">Remove course dialog</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <h4>Confirm to remove this course permanently.</h4>
                                <input type="text" class="form-control" id="rmCourseIdInput"
                                                                name="courseIdInput" 
                                                                style="display:none" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-success" name="action" value="remove_course" type="submit"><i
                                class="fa fa-check" aria-hidden="true"></i>
                            Yes</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-danger"
                                aria-hidden="true"></i>No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- Modal End -->
<!-- Wishlist Start -->
<div class="wishlist-page">
    <div class="container-fluid">
        <div class="wishlist-page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody class="align-middle">
                            {{#each courses}}
                            <tr>
                                <td>
                                    <div class="img">
                                        <a href="/admin/view-course?id={{this.id}}"><img src="{{this.avatar}}" alt="Image"/></a>
                                        <p>{{this.name}}</p>
                                    </div>
                                </td>
                                <td>${{this.price}}</td>
                                <td>
                                    <button value="remove_course" class="mb-2"
                                                                type="button" data-toggle="modal"
                                                                data-target="#rmCourseModal"
                                                                data-id="{{this._id}}"><i class="fa fa-trash"></i></button>
                                    {{#ifEquals ../role "Administrator"}}
                                    <a href="/admin/view-course?id={{this._id}}">
                                    {{else}}
                                    <a href="/teacher/view-course?id={{this._id}}">
                                    {{/ifEquals}}
                                    <button class="mb-2" ><i class="fas fa-pen"></i></button></a>
                                    <a href="/product-detail?id={{this._id}}"><button class="mb-2"><i class="fas fa-eye"></i></button></a>
                                </td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                    {{#ifEquals role "Teacher"}}
                     <div class="" align="right">
                        <a class="btn" href="/teacher/add-course"><i class="fa fa-plus mr-2"></i>Add new course</a>
                    </div>
                    {{/ifEquals}}
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- Wishlist End -->

{{>Footer}} 

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/slick/slick.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script>
    $('#rmCourseModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var courseid = button.data('id');
                var modal = $(this)

                modal.find('#rmCourseIdInput').val(courseid);
            })
</script>
</body>
</html>
