<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>E Store - eCommerce HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/lib/slick/slick.css" rel="stylesheet">
    <link href="/lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <style>
        .btn-danger {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }

        .btn-outline-success {
            color: #fff;
            border-color: #28a745;
            background-color: #28a745;
        }

        .rbtn {
            width: 30px;
            height: 30px;
            font-size: 14px;
            text-align: center;
            color: #ffffff;
            background: #FF6F61;
            border: none;
            border-radius: 4px;
        }

        .session::before {
            content: '\f105';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            padding-right: 5px;
        }

        .session {
            color: #353535;
            transition: all .3s;
        }

        .session:hover {
            color: #FF6F61;
            padding-left: 10px;
        }

        .session:hover::before {
            content: '\f101';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
        }

        .collapse {
            display:
        }

        #status {

            display: inline-block;
            color: #FF6F61;
            font-size: 25px;
            font-weight: 700;
            margin: 0;
        }

        .status {
            margin-bottom: 15px;
            position: relative;
            width: 100%;
        }
        .status h4 {
                display: inline-block;
    width: 80px;
    font-size: 18px;
    font-weight: 700;
    margin-right: 5px;
        }
        #status{
                display: inline-block;
    width: 80px;
    font-size: 18px;
    font-weight: 700;
    margin-right: 5px;
        }
        @media screen and (min-width: 676px) {
            .modal-dialog {
                max-width: 800px;
                /* New width for default modal */
            }
        }
    </style>
</head>

<body>
    {{>Header}}

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/admin/courses-management">Course Management</a></li>
                <li class="breadcrumb-item active">Course Detail</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Detail Start -->
    <div class="product-detail">


        <!-- Modal -->
        <div class="modal fade" id="renderVideoModal" tabindex="-1" role="dialog"
            aria-labelledby="renderVideoModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body" style="height: 600px">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/8RYslufQHlg"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addSessionModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form id="addSessionForm" method="POST" action="">
                        <div class="modal-header">
                            <h5 class="modal-title">Add new session</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="sessionName">Session name</label>
                                <input type="text" class="form-control" id="sessionNameInput" name="sessionNameInput"
                                    placeholder="Enter session's name" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-success" name="action" value="add_session" type="submit"><i
                                    class="fa fa-check" aria-hidden="true"></i>
                                Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-danger"
                                    aria-hidden="true"></i>Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addVideoModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form id="addVideoForm" method="POST" action="">
                        <div class="modal-header">
                            <h5 class="modal-title">Add new video</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <h3 style="text-align: center;">Session : <span id="sessionHeader"></span></h3>
                                <input type="text" class="form-control" id="ChapterIdInput" name="ChapterIdInput"
                                    value="" style="display:none" required>
                                <label for="VideoName">Video name</label>
                                <input type="text" class="form-control" id="VideoNameInput" name="VideoNameInput"
                                    placeholder="Enter video's name" required>
                                <label for="url">Enter an video url</label>

                                <input type="url" class="form-control" name="url" id="url"
                                    placeholder="https://youtube.com/embed/..." pattern="https://.*" size="30" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-success" name="action" value="add_video" type="submit"><i
                                    class="fa fa-check" aria-hidden="true"></i>
                                Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-danger"
                                    aria-hidden="true"></i>Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="changeSessionNameModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form id="changeSessionNameForm" method="POST" action="">
                        <div class="modal-header">
                            <h5 class="modal-title">Change session's name</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control" id="ChapterIdInput2" name="ChapterIdInput2"
                                    value="" style="display:none" required>
                                <label for="SessionName">Session name</label>
                                <input type="text" class="form-control" id="changeSessionNameInput"
                                    name="changeSessionNameInput" placeholder="Enter session's name" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-success" name="action" value="change_session_name"
                                type="submit"><i class="fa fa-check" aria-hidden="true"></i>
                                Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-danger"
                                    aria-hidden="true"></i>Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal End  -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-detail-top">
                        <div class="row align-items-center">
                            <div class="col-md-5">
                                <div class="product-slider-single normal-slider">
                                    <img src="{{course.avatar}}" alt="Image" />
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="product-content">
                                    <div id="content">
                                        <div class="title">
                                            <h2 id="courseName">{{course.name}}</h2>
                                        </div>

                                        <p id="briefDescription">{{course.brief_description}}</p>
                                        <div class="price">
                                            <h4>Price :</h4>
                                            <p>$</p>
                                            <p id="price"> {{course.price}} </p><span>$149</span>
                                        </div>
                                        <div class="status">
                                            <h4>Status :</h4>
                                            {{#if course.completed}}
                                            <p id="status"> Completed </p>
                                            {{else}}
                                            <p id="status"> Incompleted </p>
                                            {{/if}}
                                        </div>
                                        <div class="">
                                            <button class="btn btn-edit-detail">
                                                <i class="fas fa-edit mr-2"></i>Edit
                                            </button>
                                        </div>
                                    </div>
                                    <form id="coursedetail" style="display: none;" method="POST" action="">
                                        <div class="form-group">
                                            <label for="coursename">Image (URL)</label>
                                            <input type="url" class="form-control" id="avatarInput" name="avatarInput"
                                                aria-describedby="emailHelp" placeholder="Enter image URL">
                                        </div>
                                        <div class="form-group">
                                            <label for="coursename">Course name</label>
                                            <input type="text" class="form-control" id="courseNameInput"
                                                name="courseNameInput" aria-describedby="emailHelp"
                                                placeholder="Enter course title" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="briefDescription">Brief description</label>
                                            <input type="text" class="form-control" id="briefDescriptionInput"
                                                name="briefDescriptionInput" placeholder="Enter brief description"
                                                required>
                                        </div>
                                        <div class="form-group">
                                            <label for="price">Price</label>
                                            <input type="number" min="0" class="form-control" id="priceInput"
                                                name="priceInput" placeholder="Enter course price" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="status">Status</label>
                                            <select class="form-control" id="statusInput" name="statusInput">
                                                <option value="Completed">Completed</option>
                                                <option value="Incompleted">Incompleted</option>
                                            </select>
                                        </div>
                                        <button class="btn btn-outline-success" id="saveDetailBtn" name="action"
                                            value="course_detail" type="submit">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            Save
                                        </button>
                                        <button class="btn btn-danger" id="detailCancelBtn" type="button">
                                            <i class="fa fa-danger" aria-hidden="true"></i>
                                            Cancel
                                        </button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row product-detail-bottom">
                        <div class="col-lg-12">
                            
                            <ul class="nav nav-pills nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#description">Description</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="description" class="container tab-pane active">
                                    <div class="desc-container">
                                        {{{course.full_description}}}
                                    </div>
                                    <div class="editor" style="display: none;">
                                        <form method="POST" action="" name="desc">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4>WYSIWYG Editor</h4>
                                                </div>
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="txtDesc">Course Description</label>
                                                        <textarea id="txtDesc" name="desc" autofocus cols="40" rows="50"
                                                            class="form-control">{{course.full_description}}</textarea>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <button class="btn btn-outline-success" name="action"
                                                        value="course_description" type="Submit">
                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                        Save
                                                    </button>
                                                    <button class="btn btn-danger" id="cancelDescBtn" type="button">
                                                        <i class="fa fa-danger" aria-hidden="true"></i>
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="">
                                        <button class="btn btn-edit-desc">
                                            <i class="fas fa-edit mr-2"></i>Edit
                                        </button>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="section-header">
                            <h1>Course Detail</h1>
                        </div>


                        <div class="row product-detail-bottom">
                            <div class="col-lg-12 sidebar">
                                <div class="sidebar-widget brands" style="overflow: hidden;">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Session</th>
                                                    <th>&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody class="align-middle">
                                                <!-- Add chapters -->
                                                {{#each chapters as |chapter ind|}}
                                                <tr>
                                                    <td>
                                                        <div>

                                                            <h4><a href="#" class="session" data-toggle="collapse"
                                                                    data-target="#chapter_{{inc @index}}"
                                                                    aria-expanded="false"
                                                                    aria-controls="collapseExample">Session {{inc
                                                                    @index}}:
                                                                    <span>{{chapter.name}}</span></a></h4>

                                                            <div class="collapse" id="chapter_{{inc @index}}">
                                                                <!-- Add videos -->

                                                                {{#with (arrayof ../videolist @index)}}
                                                                {{#each this.videos}}
                                                                <div class="mb-2">
                                                                    <button type="button" class="btn btn-primary"
                                                                        data-toggle="modal"
                                                                        data-target="#renderVideoModal"
                                                                        data-whatever="{{this.url}}">{{this.name}}</button>

                                                                </div>
                                                                {{/each}}
                                                                {{/with}}
                                                                <button class="rbtn" type="button" data-toggle="modal"
                                                                    data-target="#addVideoModal"
                                                                    data-whatever="{{this._id}}"
                                                                    data-name="{{this.name}}"><i
                                                                        class="fas fa-plus"></i></button>


                                                            </div>
                                                        </div>

                                                    </td>
                                                    <td style="text-align: center;">
                                                        <form method="POST" action="">
                                                            <button class="rbtn" type="button" data-toggle="modal"
                                                                data-target="#changeSessionNameModal"
                                                                data-id="{{this._id}}" data-name="{{this.name}}"><i
                                                                    class="fas fa-pen"></i></button>

                                                            <input type="text" class="form-control" id="sessionIdInput"
                                                                name="sessionIdInput" value="{{this._id}}"
                                                                style="display:none" required>

                                                            <button class="rbtn" name="action" value="remove_session"
                                                                type="submit"><i class="fa fa-trash"></i></button>
                                                        </form>

                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="text-align: right;">
                                        <button class="btn" id="addSessionBtn" data-toggle="modal"
                                            data-target="#addSessionModal"><i class="fa fa-plus mr-2 "></i>Add new
                                            session</a></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side Bar Start -->

                <!-- Side Bar End -->
            </div>
        </div>
    </div>
    <!-- Product Detail End -->

    <!-- Brand Start -->
    <div class="brand">
        <div class="container-fluid">
            <div class="brand-slider">
                <div class="brand-item"><img src="/img/brand-1.png" alt=""></div>
                <div class="brand-item"><img src="/img/brand-2.png" alt=""></div>
                <div class="brand-item"><img src="/img/brand-3.png" alt=""></div>
                <div class="brand-item"><img src="/img/brand-4.png" alt=""></div>
                <div class="brand-item"><img src="/img/brand-5.png" alt=""></div>
                <div class="brand-item"><img src="/img/brand-6.png" alt=""></div>
            </div>
        </div>
    </div>
    <!-- Brand End -->

    {{>Footer}}

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/slick/slick.min.js"></script>

    <script src="https://cdn.tiny.cloud/1/ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#txtDesc',
            plugins: 'paste image link autolink lists table media autoresize',
            menubar: true,
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
            ],
            max_height: "500",
            max_width: "800",
        });
    </script>
    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
    <script>

        var editor = $('.editor');
        var editbtn = $('.btn-edit-desc');
        var savebtn = $('.btn-outline-success');
        var description = $('.desc-container');
        var cancelDescBtn = $('#cancelDescBtn');
        $('#txtDesc').html(description.html());


        editbtn.click(function () {
            $('#txtDesc').html(description.html());
            description.css("display", "none");
            editbtn.css("display", "none");
            editor.css("display", "flex");
        })
        cancelDescBtn.click(function () {
            description.css("display", "block");
            editbtn.css("display", "flex");
            editor.css("display", "none");
        })

        var editDetailBtn = $('.btn-edit-detail');
        var detailCancelBtn = $('#detailCancelBtn');
        editDetailBtn.click(function () {
            $('#courseNameInput').val($('#courseName').text());
            $('#briefDescriptionInput').val($('#briefDescription').text());
            $('#priceInput').val(parseInt($('#price').text()));

            $('#content').css("display", "none");
            $('#coursedetail').css("display", "block");
            if ($('#status').text().trim() === "Incompleted")
                $('#statusInput').val("Incompleted");
            else  $('#statusInput').val("Completed");
        })
        detailCancelBtn.click(function () {
            $('#content').css("display", "block");
            $('#coursedetail').css("display", "none");
        })
        $('#renderVideoModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var link = button.data('whatever') // Extract info from data-* attributes

            var modal = $(this)
            modal.find('iframe').attr('src', link);
        })
        $('#addVideoModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var chapterid = button.data('whatever') // Extract info from data-* attributes
            var chaptername = button.data('name')
            var modal = $(this)
            modal.find('#ChapterIdInput').val(chapterid);
            modal.find('#sessionHeader').text(chaptername);
        })
        $('#changeSessionNameModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var chapterid = button.data('id') // Extract info from data-* attributes
            var chaptername = button.data('name')
            var modal = $(this)

            modal.find('#ChapterIdInput2').val(chapterid);
            modal.find('#changeSessionNameInput').val(chaptername);
        })
    </script>
</body>

</html>